body{
    margin: 0px;
    padding: 0px;

}

header{
   background-image: url(../assets/gunsNroses.jpg);
   height: 1700px;
   background-size: cover; 
   background-position: center;
   background-repeat: no-repeat;
   flex-direction: column;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    width: 2000px;
    color: rgb(255, 255, 255);
    font-size: 120px;
    text-align: end;
    margin-right: 700px;
}

.BannerAzul{
    background-color: #012B50;
    margin: 0px;
    height: 300px;
}
.BannerAzul p{
    margin: 0px;
    font-size: 40px;
    color: white;
}


.rockFamous{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.rockFamous .famoso{
    width: 600px;
    height: 94  0px;
    box-shadow: 10px 15px 28px gray;
    border-radius: 20px;
}

.rockFamous img{
    
    width: 600px;
    height: 350px;
    margin-left: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.titulofamoso{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulofamoso h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.famoso .banda{
 
    background-color: #012B50;
   
    height: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.famoso p{
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
}


footer{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}

@media screen and (max-width: 480px){
body{
    margin: 0px;
    width: 1200px;
}

.rockFamous{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    height: 600px;
}

header h1{
    font-size: 50px;
    margin-right: 1500px;
}

.BannerAzul p{
    font-size: 30px;
   padding: 30px;
   padding-left: 19px;
   padding-right: 79px;
   font-family: Arial, Helvetica, sans-serif;
}
.BannerAzul{
    height: 550px;


}
.rockFamous .famoso{
    width: 1000px;
}
.famoso img{
    width: 1000px;
    
}

.famoso h3{
    font-size: 40px;
}

.famoso p{
    font-size: 48px;
 
}
.famoso{
    margin-top: 60px;
}

.banda{
    font-size: 30px;
}

footer{
    font-size: 35px;
}

}